@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.hero-gradient {
    background: rgb(255,241,242);
    background: radial-gradient(circle, rgba(255,241,242,1) 0%, rgba(255,255,255,1) 100%);
}
