@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  margin: 0;
  padding: 0;
  display: block;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
}

#root {
  width: 100%;
}

.hero-gradient {
    background: rgb(255,241,242);
    background: radial-gradient(circle, rgba(255,241,242,1) 0%, rgba(255,255,255,1) 100%);
}

.dark .hero-gradient {
    background: rgb(2, 6, 23);
    background: radial-gradient(circle, rgba(2, 6, 23, 1) 0%, rgba(15, 23, 42, 1) 100%);
}
